.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}