.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.file-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}